.card.selected {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.card {
    border: 0.5px solid #3F3F46;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;
    background-color: #27272A;
    margin: 10px;
    cursor: pointer;
    width: 220px;
    height: 305px;
}
@media screen and (min-width: 300px) and (max-width: 767px){
    .card {
        width: 350px;
        height: 100px;
        position: relative;
    }
}
@media screen and (min-width: 300px) and (max-width: 767px){

.cardImage{
    width: 100px;
    height: 100px;
}

}

.cardContent{
    padding-left: 15px;
}
.cardTitle{
    color: #FAFAFA;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;

}
@media screen and (min-width: 300px) and (max-width: 767px){
    .cardTitle{
        position: absolute;
        bottom: 50px;
        left: 115px;
        font-size: 20px;
        font-weight: 700;

    }

}

.cardSubtitle{
    color: #FAFAFA;
    font-size: 14px;
    line-height: 14px;



}

@media screen and (min-width: 300px) and (max-width: 767px){
    .cardSubtitle{
        position: absolute;
        bottom: 20px;
        left: 115px;
        font-size: 14px;


    }

}
/* Other styles for cardImage, cardContent, etc. */
