.card.selected {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.card {
    border: 3px solid #344650;
    border-radius: 8px;
    overflow: hidden;
    /* box-shadow: 0px 3px #344650; */
    padding: 0px;
    background-color: #101F24;
    margin: 10px;
    cursor: pointer;
    width: 220px;
    height: 305px;
    transition: margin-top 0.3s ease; 

    
}

.card:hover{
    
    /* border: 3px solid #2986AA; */
    background-color: #1D3037;

}

.card:active{
    border: 3px solid #2986AA; 
    transition: margin-bottom 0.3s ease; 



}

@media screen and (min-width: 300px) and (max-width: 767px){
    .card {
        width: 350px;
        height: 100px;
        position: relative;
    }
}
@media screen and (min-width: 300px) and (max-width: 767px){

.cardImage{
    width: 100px;
    height: 100px;
}

}

.cardContent{
    padding-left: 15px;
}
.cardTitle{
    color: #F0F7FC;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;

}
@media screen and (min-width: 300px) and (max-width: 767px){
    .cardTitle{
        position: absolute;
        bottom: 50px;
        left: 115px;
        font-size: 20px;
        font-weight: 700;

    }

}

.cardSubtitle{
    color: #F0F7FC;
    font-size: 14px;
    line-height: 14px;



}

@media screen and (min-width: 300px) and (max-width: 767px){
    .cardSubtitle{
        position: absolute;
        bottom: 20px;
        left: 115px;
        font-size: 14px;


    }

}
/* Other styles for cardImage, cardContent, etc. */
