.card.selected {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.card {
    border: 0.5px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0px;

    margin: 10px;
}
.cardContent{
    padding-left: 15px;
}

/* Other styles for cardImage, cardContent, etc. */
