.imageContainer{
    padding: 0px 60px;
    background-color: #101F24;
    color: #F0F7FC;
    text-align: center;
    margin-bottom: 50px;
}




.challenge__imageContainer{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    padding: 15px 60px;
    background-color: #101F24;
    color: #F0F7FC;
    text-align: center;
    margin: 0px 0 100px;
}

@media screen and (min-width: 300px) and (max-width: 767px){
  .challenge__imageContainer{
    padding: 40px 10px;
    margin: 0px 0 0px;


  }
}

.challenge__singleImageContainer{
    height: 260px;
    border: 3px solid #101F24;

}

@media screen and (min-width: 300px) and (max-width: 767px){
  .challenge__singleImageContainer{
    height: 170px;

  }

}

@media screen and (min-width: 300px) and (max-width: 767px){
    .imageContainer{
        padding: 15px 20px;

    }
}
.collectionImage{
    margin: auto;
    border-radius: 10px;
}

@media screen and (min-width: 300px) and (max-width: 767px){
    .collectionImage{
        width: 350px;
        height: 350px;
    }
}

.challenge__Image{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width: 767px){
  .challenge__Image{
    width: 170px;
    height: 170px;
    padding: 0px;


  }

}

.selectedImage {
  border: 3px solid #1899D6; /* or any style you prefer for highlighting */
  height: 260px;
  border-radius: 15px;
}

@media screen and (min-width: 300px) and (max-width: 767px){
  .selectedImage {
    height: 170px;
    border-radius: 18px;

  }
}

.textContainer{
    margin:auto;
}
.itemNameText{
    margin:auto;
    font-size: 40px;
    font-weight: 600;
    position: relative;
    bottom: 50px;
    text-transform: capitalize;
    background: linear-gradient(rgba(255,0,0,0), rgb(21, 21, 21));
    width: 512px;
    height: 50px;
    border-radius: 0px 0px 9px 9px;
}

@media screen and (min-width: 300px) and (max-width: 767px){
    .itemNameText{
        width: 350px;
        font-size: 34px;


    }
}


.collectionTitle{
    
    font-size: 24px;
    font-weight: 600;
    color: #FAFAFA;
    padding: 15px;
}

.collectionCardContainer{
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 50px;
    width: 1080px;
}

@media screen and (min-width: 1001px) and (max-width: 1200px){
    .collectionCardContainer{
        max-width: 900px;
        justify-content: flex-start;
    }

}
@media screen and (min-width: 768px) and (max-width: 1000px){
    .collectionCardContainer{
        max-width: 600px;
        justify-content: flex-start;
    }

}

@media screen and (min-width: 300px) and (max-width: 767px){
    .collectionCardContainer{
        width: 100%;
        justify-content: center;
    }

}

.collectionNmae{
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA;
    padding: 10px 0px;
    text-align: center;
}

.collectionThumbnail{
    border-radius: 6px;
    width: 250px;
    height: 250px;
}
@media screen and (min-width: 768px) and (max-width: 1200px){

    .collectionThumbnail{
        width: 280px;
        height: 280px;
    }

}

@media screen and (min-width: 300px) and (max-width: 767px){

    .collectionThumbnail{
        width: 350px;
        height: 350px;
    }

}

.loaderText{ 
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 40px;
}

.challenge__TitleText
{ 
    color: white;
    font-size: 28px;
    text-align: center;
    padding: 35px;
    font-weight: 600;
}

@media screen and (min-width: 300px) and (max-width: 767px){
  .challenge__TitleText
  { 
      font-size: 18px;
      padding: 20px 0 10px;


  }

}



.loaderQuote{
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 40px auto;   
    width: 80vw;
}

.emptyDataError{
    color: #FAFAFA;
    text-align: center;
    padding: 40px 40px 20px 40px;
    font-size: 18px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.createCTAbtn{
    font-size: 24px;
    font-family: 'Noto Sans';
    font-weight: 500;
    color: #FAFAFA;
    border: 0px;
    background-color: #F5A524;
    border-radius: 5px;
    width: 220px;
    height: 50px;
    cursor: pointer;
    margin: 15px;
}

.createCTAbtn:hover{
    background-color: #F7B750;
    transition: 0.4s;
}

.imageLoader {
    width:50px;
    height:50px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#dedede);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
    margin: 20px auto 15px auto;
    
      }
  @keyframes s3 {to{transform: rotate(1turn)}}

  .challenge__btn{
    font-size: 18px;
    font-weight: 500;
    color: #131F24;
    border: 0px;
    background-color: #93D333;
    border-radius: 16px;
    width: 150px;
    height: 46px;
    cursor: pointer;
    margin: 20px 0 30px;
    transition: margin-top 0.3s ease; 
    box-shadow: 0px 3px rgb(121, 185, 51);
}

.challenge__btn:hover{
    background-color: #A2E838;
    color: #152228;
    box-shadow: 0px 3px #85CB38;

  }

  .challenge__btn:active{
    margin: 24px 0 30px;
    transition: margin-bottom 0.3s ease; 
    box-shadow: 0px 0px red ;

  }


  

.challenge__result__container{
    display: flex;
    align-items: center;
    margin: 0 40px;
}

@media screen and (min-width: 300px) and (max-width: 767px){
  .challenge__result__container{
    padding: 15px 0;
    justify-content: center;
    margin: 0;

  }


}
.resultMessage {
    text-align: center;
    color: #FAFAFA;
    padding: 0 10px;
  }

@media screen and (min-width: 300px) and (max-width: 767px){
  .resultMessage {
    font-size: 14px;
    padding: 0 0 0 10px;
  }
}

  .challenge__hr{
    border-top: solid 1px rgb(55, 70, 79);
    height: 1px;
    width: 100%;

}
@media screen and (min-width: 300px) and (max-width: 767px){
  .challenge__hr{
  display: none;
  }

}

.challenge__hr__hide{
    border-top: solid 1px #18181B;
    height: 1px;
    width: 100%;
}
  
  .confirmButton__container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin: 0 90px; */
    height: 140px; 
  }

  @media screen and (min-width: 300px) and (max-width: 767px){
    .confirmButton__container{
      height: 130px; 

    }
  }

  .confirmButton__container__clicked{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 90px; */
    height: 140px; 
    background-color: rgb(32, 47, 54);
  }

@media screen and (min-width: 300px) and (max-width: 767px){
  .confirmButton__container__clicked{
    height: 50vh; 
    display: block;
    position: relative;
    bottom: 50px;


  }

}


  .confirmButton{
    width: 150px;
    height: 46px;
    font-size: 18px;
    border-radius: 16px;
    border: 0px;
    cursor: pointer;
    background-color: #93D333;
    color: #131F24;
    margin: 0 40px;
    transition: margin-top 0.3s ease; 
    box-shadow: 0px 3px rgb(121, 185, 51);
  }

  @media screen and (min-width: 300px) and (max-width: 767px){
  .confirmButton{
  width: 80vw;  
  }
  }

  .confirmButton:disabled{
    background-color: #37464F;
    color: #52656D;
    box-shadow: 0px 0px rgb(121, 185, 51);

  }
  .confirmButton:disabled:hover{
    background-color: #37464F;
    color: #52656D;
    box-shadow: 0px 0px rgb(121, 185, 51);

  }

  .confirmButton:active{
    margin: 5px 40px 0px;
    transition: margin-bottom 0.3s ease; 
    box-shadow: 0px 0px red 


  }
  .confirmButton:hover{
    background-color: #A2E838;
    color: #152228;
    box-shadow: 0px 3px #85CB38;

  }

  .challenge__green__confirmButton{
    background-color: #93D333;
    width: 150px;
    height: 46px;
    font-size: 18px;
    border-radius: 16px;
    border: 0px;
    cursor: pointer;
    color: #131F24;
    margin: 0 40px;
    transition: margin-top 0.3s ease; 
    box-shadow: 0px 3px rgb(121, 185, 51);
  }

  @media screen and (min-width: 300px) and (max-width: 767px){
    .challenge__green__confirmButton{
      width: 80vw;
    }

  
  }
  .challenge__green__confirmButton:active{
    margin: 5px 40px 0px;
    transition: margin-bottom 0.3s ease; 
    box-shadow: 0px 0px red ;

  }

  .challenge__green__confirmButton:hover{
    background-color: #A2E838;
    color: #152228;
    box-shadow: 0px 3px #85CB38;

  }

  .challenge__red__confirmButton{
    background-color: #EE5555;
    width: 150px;
    height: 46px;
    font-size: 18px;
    border-radius: 16px;
    border: 0px;
    cursor: pointer;
    color: #131F24;
    margin: 0 40px;
    transition: margin-top 0.3s ease; 
    box-shadow: 0px 3px #DF1F39;
  }

  @media screen and (min-width: 300px) and (max-width: 767px){
    .challenge__red__confirmButton{
      width: 80vw;

    }

  }

  .challenge__red__confirmButton:active{
    margin: 5px 40px 0px;
    transition: margin-bottom 0.3s ease; 
    box-shadow: 0px 0px red ;

  }
  .challenge__red__confirmButton:hover{
    background-color: #EE585B;
    color: #152228;
    box-shadow: 0px 3px #ED5050;

  }

  .challenge__icon__backgorund{
    width: 100px;
    height: 100px;
    background-color: #1899D6;
  }

  .resultIcon{
    position: relative;
    margin: 26px 0 0 25px;
  }

  .greenCheckIcon{
    position: relative;
    margin: 27px 0 0 20px;
  }

  @media screen and (min-width: 300px) and (max-width: 767px){
    .greenCheckIcon{
      margin: 18px 0 0 10px;
    }

  
  }
  .redCrossIcon{
    position: relative;
    margin: 26px 0 0 25px;
  }
@media screen and (min-width: 300px) and (max-width: 767px){
  .redCrossIcon{
    margin: 15px 0 0 15px;

  }

}

  .challenge__Icon__container{
    width: 80px;
    height: 80px;
    border-radius: 98px;
    background-color: #131f24;
  }

@media screen and (min-width: 300px) and (max-width: 767px){
  .challenge__Icon__container{
    width: 60px;
    height: 60px; 
  }

}
