.selectionContainer{
    margin: auto;
    width:50%;
    padding: 10px;
}
.selectCategory{
    font-size: 20px;
}

.hiddenRadio {
    display: none;
  }
  
  .buttonStyle {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Change the appearance for the checked state */
  .hiddenRadio:checked + .buttonStyle {
    background-color: #ddd;
    color: #000;
    border: solid 1px blue;
  }
  .bookCategoriesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 110px;

  }

  .chooseCategoryText{
    font-size: 28px;
    font-weight: 800;
    font-family: 'Noto Sans';
    text-align: center;
    padding: 20px;
    color: #FAFAFA;

  }
@media screen and (min-width: 300px) and (max-width: 767px){
  .chooseCategoryText{
    font-size: 22px;

  }


}

  