 .body{
  padding: 0px;
 }
 .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.016); /* Tailwind's bg-blue-700 */
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* border-bottom: solid 0.3px rgba(135, 135, 135) */
    height: 52px;

  }
  
  .navItem {
    text-decoration: none;
    font-size: 1.125rem; /* Tailwind's text-lg */
    font-weight: bold;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 40px;
  }
@media screen and (min-width: 768px) and (max-width: 3840px){
  .navItem {
    text-decoration: none;
    font-size: 1.125rem; /* Tailwind's text-lg */
    font-weight: bold;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 40px;
  }

}

@media screen and (min-width: 300px) and (max-width: 767px){
  .navItem {
    text-decoration: none;
    font-size: 14px; /* Tailwind's text-lg */
    font-weight: bold;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 10px 10px 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 3840px){

  .SignItemsCenter{
    display: flex;
    align-items: center;
    padding: 10px 40px;
  }
}
@media screen and (min-width: 300px) and (max-width: 767px){
  .SignItemsCenter{
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
  }

}


.link {
  color: #FAFAFA; /* Tailwind's text-gray-300 */
  margin-right: 15px;
  cursor: pointer;
}

@media screen and (min-width: 300px) and (max-width: 767px){
  .link {
    font-size: 16px;

  }

}
  
  /* .link:hover {
    color: #E4E4E7;
    transition: 0.3s;
  } */

  .link_active {
    color: #FAFAFA;
    font-weight: 800;
  }
  
  
