.homePageBackground {
    background-image: url('./images/background_fox.jpg'); /* 確保路徑正確 */
    width: 100%;
    height: 800px; /* 根據需要設置適當的高度 */
    background-size: cover; /* 或使用 'contain' 根據需求 */
    background-repeat: no-repeat;
    background-position: right;
  }

@media screen and (min-width: 300px) and (max-width: 1200px){
.homePageBackground {
    background-image: url('./images/mobile_background_fox_down.jpg'); /* 確保路徑正確 */
    background-position: center;
}
}

.homePageElementContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1201px) and (max-width: 38400px){
.homePageElementContainer{
    margin: 0 auto;
    width: 1100px;

}
}

@media screen and (min-width: 300px) and (max-width: 1200px){

.homePageElementContainer{
    display: block;


}
}

.indexFirstImageContainer{
    width: 600px;
    height:600px;
    margin: 10px 20px 0 -53px;
    position: relative;

}
@media screen and (min-width: 768px) and (max-width: 1200px){
    .indexFirstImageContainer{
        width: 280px;
        height:280px;
        margin: 0 auto;

    
    }
}

@media screen and (min-width: 300px) and (max-width: 767px){
    .indexFirstImageContainer{
        width: 280px;
        height:280px;
        margin: 0 auto;

    
    }
}

@media screen and (min-width: 1201px) and (max-width: 3840px){

    .foxRaccoonBg{
        position: relative;
        width: 475px;
        height: 490.15px;
        margin: 30px 80px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .foxRaccoonBg{
        width: 280px;
        height: 280px;

    }

}

@media screen and (min-width: 300px) and (max-width: 767px){
    .foxRaccoonBg{
        width: 280px;
        height: 280px;

    }

}

@media screen and (min-width: 1201px) and (max-width: 3840px){

.foxRaccoon{
    position: absolute;
    bottom: 145px;
    left: 115px;
    width: 443px;
    height: 441.34px;

}
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .foxRaccoon{
        width: 270px;
        height: 270px;
        position: relative;
        bottom: 300px;
        left: 18px;

    }


}

@media screen and (min-width: 300px) and (max-width: 767px){
    .foxRaccoon{
        width: 270px;
        height: 270px;
        position: relative;
        bottom: 300px;
        left: 18px;

    }

}

.mainElement{
    text-align: center;
    margin: 105px 65px 140px -20px;
    display: flex;
    align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1200px){
    .mainElement{
        margin: 0px auto;
        display: block;

       
    }

}
@media screen and (min-width: 300px) and (max-width: 767px){
    .mainElement{
        margin: 0 auto;
        display: block;

    }

}


.titleText{
    width: 600px;
    font-size: 48px;
    font-weight: 700;
    color: #F0F7FC;
    margin: 0px auto 15px;
}



@media screen and (min-width: 768px) and (max-width: 1200px){
    .titleText{
        font-size: 42px;
        width: 100%;
    }

}

@media screen and (min-width: 300px) and (max-width: 767px){
    .titleText{
        font-size: 34px;
        margin: 10px auto 20px;
        width: 100%;
    }

}

.subTitleText{
    width: 420px;
    font-size: 24px;
    font-weight: 300;
    color: #F0F7FC;
    margin: 0px auto 15px;
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .subTitleText{
        font-size: 20px;
    }

}
@media screen and (min-width: 300px) and (max-width: 767px){
    .subTitleText{
        font-size: 18px;
        width: 100%;

    }

}

.ctaBtnConatainer{
    height: 46px;
    display: flex;
    justify-content: center;
}


.createCTAbtn{
    font-size: 18px;
    font-weight: 600;
    color: #131F24;
    border: 0px;
    background-color: #93D333;
    border-radius: 16px;
    width: 240px;
    height: 46px;
    cursor: pointer;
    margin: 15px 0 0 0;
    transition: margin-top 0.3s ease; 
    box-shadow: 0px 3px rgb(121, 185, 51);

}

@media screen and (min-width: 300px) and (max-width: 767px){
.createCTAbtn{
    width: 90vw;
}
}

.createCTAbtn:hover{
    background-color: #A2E838;
    color: #152228;
    box-shadow: 0px 3px #85CB38;
}
.createCTAbtn:active{
    margin: 20px 0 0 0;
    transition: margin-bottom 0.3s ease; 
    box-shadow: 0px 0px red 


  }