body{
    margin: 0px;
    padding-top: 52px;
    background-color: #101F25;
    font-family: 'Noto Sans';
}

a {
    text-decoration: none;
  }
  
/* Footer.css */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #101F25;
    color: #F0F7FC;
    text-align: center;
    padding: 10px 0;
  }
  